{% extends 'base.html.twig' %}

{% block title %}Nouveau staff{% endblock %}

{% block body %}
    <h1>Créez le nouveau membre</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Retour à la liste</a>
{% endblock %}
